{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 6 version"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-builtin-extend",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ],
  "comments": false
}
